
body{
    font-family: DM Sans, Helvetica, sans-serif;
    line-height: 150%;
}

*{
    margin: 0;
}

img{
    height: 200px;
    object-fit: cover;
}


.px-m{
    padding-left:30px;
    padding-right:30px;
}

.py-m{
    padding-top: 30px;
    padding-bottom: 30px;
}



.overlay{
    z-index: 50;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #00000060;
}


.icon{
    height:40px;
    width: 40px;
}


/*________________ BUTTONS ________________*/

button{
    padding: 8px 16px;
    border-radius: 40px;
    border: none;
    
    max-width: 180px;
    transition-duration: 0.2s;
}

button{
    background-color:#222;
    color: white;
}

button:hover{
    opacity: 80%;
    box-shadow: 4px 4px 8px #00000060;
}

a:hover{
    opacity: 80%;
}

.secondary{
    background-color:white;
    color: #222;
    stroke-width: 2px;
    stroke: 2px solid black;
}

.tertiary{
    background: none;
    border: 2px solid #222;
    color: #222;
}




/*___________________ HEROES______________________*/

.hero{
    margin:0;
    position: relative;
    height: 300px;
}

.hero > img{
    z-index: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;

    position: absolute;
    top: 0;
    left: 0;
}

.hero-box{
   z-index: 100;
   position: absolute;
   color: white;

   height: 100%;
   width: 300px;
   margin: 0;

   display: flex;
   flex-direction: column;
   justify-content: center;
   gap: 10px;

   font-size: 32px;
   line-height: 150%;
}


/*________________ IMAGE LEFT_RIGHT ________________*/

.bg-dark{
    background-color: #121113;
    color: #DDD;
}

.bg-light{
    background-color: #FFF;
    color: #121113;
}


.image-text-container{
    display: flex;
    flex-direction: column-reverse;
    height: fit-content;
}

.image-text-container > img{
    object-fit: cover;
    object-position: 50% 50%;
    height: 200px;
    width: 100%;
    margin-top: 30px;
    border-radius: 4px
}

.image-text-container > .text-block{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    width: 100%;
    padding: 30px 0;
}

@media screen and ( min-width: 600px ) {



    .px-m{
        padding-left:40px;
        padding-right:40px;
    }

    .py-m{
        padding-top:40px;
        padding-bottom:40px;
    }



    .image-text-container{
        display: flex;
        flex-direction: row;
        height: 400px;
        padding: 0, 0;
        margin-bottom: 40px;
    }
    
    .image-text-container > img{
        height: 100%;
        width: 30%;
    }
    
    .image-text-container > .text-block{
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: center;
        width: 70%;
        padding-right: 40px;
    }

}


@media screen and ( min-width: 1100px ) {
    .lg-container{
        width: 100%;
        margin:auto;
        justify-items:  center;
    }
    .lg-container >.lg-inner{
        width: 950px;
    }
}
